<div class="canvases-picker-card" routerLink="{{canvas.id}}">

    <div class="canvases-picker-card-container">




        <div class="canvases-picker-card-container-header">
            {{canvas.name}}
            <hr>
        </div>
        <!-- <div class="canvas-card-content">
        </div> -->
        <div class="canvases-picker-card-container-footer">
            <div>
                Updated: {{canvas.updatedAt | customDatepipe}}
            </div>
        </div>






    </div>

</div>
