<!-- Typography -->

<!-- this is for page headings-->
<div class="mat-display-4">This is display 4</div>
<div class="mat-display-1">This is display 1</div>

<!-- this is for section headings inside a page -->
<div class="mat-headline">This is heading for h1</div>
<div class="mat-title">This is a heading for h2</div>
<div class="mat-subheading-2">this is a heading for h3</div>
<div class="mat-subheading-1">this is a heading for h4</div>

<!-- this is for body text -->
<div class="mat-body-1">this is for body text</div>
<div class="mat-body-2">this is bold body text</div>
<div class="mat-caption">this is caption text</div>

<!-- converts html authomaticly to typescript-->
<div class="mat-typography">
    <h1>This is a heading for h1</h1>
    <h2>This is a heading for h2</h2>
    <h3>This is a heading for h3</h3>
    <h4>This is a heading for h4</h4>
</div>





<!-- Buttons -->
<div>
    <button mat-button matTooltip="Welcome to here">Hello World</button>
    <button mat-flat-button>Hello World</button>
    <button mat-stroked-button>Hello World</button>
</div>
<div>
    <button mat-fab>Fab</button>
</div>
<div>
        <button color="primary" mat-stroked-button>Hello World</button>
        <button color="primary" mat-button>Hello World</button>
        <button color="primary" mat-raised-button>Hello World</button>
</div>

<div>
    <!-- <mat-button-toggle-group #toggleGroup="matButtonToggleGroup"> -->
        <mat-button-toggle-group>

        <mat-button-toggle value="angular">Angular</mat-button-toggle>
        <mat-button-toggle value="react">React</mat-button-toggle>
        <mat-button-toggle value="vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
    <!-- {{toggleGroup.value}} -->
</div>

<!-- Icons -->
<div>
    <mat-icon>build</mat-icon>
    <mat-icon color="primary">build</mat-icon>
</div>

<!-- Badges -->

<div class="container">
    <span matBadge="5" matBadgePosition="above after" matBadgeOverlap="false" >Notification</span>
</div>
<span [matBadge]="notifications" [matBadgeHidden]="notifications == 0" matBadgeOverlap="false">Notifications</span>


<!-- Spinner -->
<div>
    <mat-spinner></mat-spinner>
    <!-- *ngIf: * = Angular operation, which tells the next letters e.g. If, For, ... ; ng = angular; If = If-Condition -->
    <mat-spinner *ngIf="showSpinner"></mat-spinner>
    <button (click)="loadData()">Load Data</button>
</div>

<!-- input -->

<mat-form-field matTooltip="Welcome to here" floatLabel="auto" hideRequiredMarker appearance="outline"> <!-- legacy / standart / fill / outline-->
    <mat-label>Name</mat-label>
    <input matInput required>
    <!-- <mat-hint align="end">Min 5 characters</mat-hint> -->
</mat-form-field>