<div>
    <div class="row-header">
        <h3>Your use following Pattern:</h3>
    </div>
    <div class="display-row-container">

        <div *ngFor="let currentPattern of currentPatterns" class="display-selector-card">
            <div class="display-card-container">
                <div class="display-card-header">
                    {{currentPattern.name}}
                    <hr>
                </div>

                <!-- <div class="canvas-card-content">
                </div> -->


                <div class="display-card-footer">
                    <div class="footer-left">
                        
                    </div>
                    <div class="footer-right">
                        <div class="flex-right">
                            <mat-icon class="nav-icon" [ngClass]="{'material-icons': checkIfPatternIsInCurrentPattern(currentPattern), 'material-icons-outlined': !checkIfPatternIsInCurrentPattern(currentPattern)}" (click)="selectBaseBusinessPattern(currentPattern)">grade</mat-icon>
                            <mat-icon class="nav-icon" (click)="deleteBusinessPattern(currentPattern)">delete</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <hr class="display-hr-divider">




    <div class="row-header">
        <h3>Your use following Strategy</h3>
    </div>
    <div class="display-row-container">
        <div *ngIf="currentStrategy!=null">
            <div class="display-selector-card">
                <div class="display-card-container">
                    <div class="display-card-header">
                        {{currentStrategy.name}}
                        <hr>
                    </div>

                    <!-- <div class="canvas-card-content">
                    </div> -->


                    <div class="display-card-footer">
                        <div class="footer-left">
                            
                        </div>
                        <div class="footer-right">
                            <div class="flex-right">
                                <mat-icon class="nav-icon" [ngClass]="{'material-icons': currentBaseStrategy!=null && currentStrategy.id==currentBaseStrategy.id, 'material-icons-outlined': currentBaseStrategy==null || currentStrategy.id!=currentBaseStrategy.id}" (click)="selectedBusinessStrategy(currentStrategy)">grade</mat-icon>
                                <mat-icon class="nav-icon" (click)="deleteBusinessStrategy(currentStrategy)">delete</mat-icon>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>




    <hr class="display-hr-divider">




    <div class="row-header">
        <h3>Your added following Pattern in this Session:</h3>
    </div>

    <div class="display-row-container">
        <div *ngFor="let currentPattern of currentPatterns" class="display-selector-card">
            <div class="display-card-container">
                <div class="display-card-header">
                    {{currentPattern.name}}
                    <hr>
                </div>

                <!-- <div class="canvas-card-content">
                </div> -->


                <div class="display-card-footer">
                    <div>
                        <!-- Examples: A,B,C,... -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>