<div>
    <h3>Business Model Canvas</h3>
    <div class="top-content-container">
        <div class="top-content-container-items">
            <app-table-general></app-table-general>
        </div>
        <div class="top-content-container-items">
            <div class="next-to-canvas-container">
                <div class="next-to-canvas-container-item">
                    <app-business-model-picker></app-business-model-picker>
                </div>
                <div class="next-to-canvas-container-item">
                    <app-distance-matrix></app-distance-matrix>
                </div>
            </div>
        </div>
    </div>
</div>