<div class="business-strategy-selector-card">

    <div class="strategy-card-container">


        <div class="strategy-card-header">
            {{strategy.name}}
            <hr>
        </div>

        <!-- <div class="canvas-card-content">
        </div> -->


        <div class="strategy-card-footer">
            <div class="footer-left">
                
            </div>
            <div class="footer-right">
                <div class="flex-right">
                    <mat-icon class="nav-icon" [ngClass]="{'material-icons': currentBaseStrategy!=null && strategy.id==currentBaseStrategy.id, 'material-icons-outlined': currentBaseStrategy==null || strategy.id!=currentBaseStrategy.id}" (click)="selectBaseBusinessStrategy(strategy)">grade</mat-icon>
                    <mat-icon class="nav-icon" (click)="addStrategyToCurrentStrategy(strategy)">add_circle_outline</mat-icon>
                </div>
            </div>
        </div>




    </div>
</div>
