.business-model-selector-card {
    border: grey solid;
    border-width: 1px;
    border-radius: 5px;
    background: lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}

.business-model-selector-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.business-model-selector-card-container {
    display: grid;
    /* grid-template-columns: minmax(300px, auto); */
    grid-template-columns: minmax(300px, auto);
    grid-gap: 0.1em;
    /* since we have no content at the moment, the second row got deleted */
    /* grid-template-rows: 50px minmax(200px, auto) 50px; */
    grid-template-rows: 50px 50px;
  }
  
  .business-model-selector-card-container > div {
    padding: 1em;
  }
  
  
  .business-model-selector-card-header {
  }
  
  .business-model-selector-card-content{
    
  }
  
  .business-model-selector-card-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 17px;
  }
  
  
.footer-right {
    width: 50%;
    /* background: #1d1fa1; */
}

.footer-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* background: #38a738; */
}

.flex-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* background-color: blue; */
}

.flex-right > a {
    padding-left: 10px;
}
  
  .points-dividing-hr {
    width:50%;
    margin:0 auto;
  }

  .nav-icon {
    font-size: 30px;
    vertical-align: bottom;
    padding-right: 10px;
    cursor: pointer;
}
  
  
  
  ul {
    padding-left: 2em;
    /* list-style-type: none; */
  }
  
  a { color: inherit; }
  
  
  
  hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
  }
  
  