<div class="business-model-selector-card">

    <div class="business-model-selector-card-container">


        <div class="business-model-selector-card-header">
            {{pattern.name}}
            <hr>
        </div>

        <!-- <div class="business-model-selector-card-content">
        </div> -->


        <div class="business-model-selector-card-footer">
            <div class="footer-left">
                
            </div>
            <div class="footer-right">
                <div class="flex-right">
                    <mat-icon class="nav-icon" [ngClass]="{'material-icons': checkIfPatternIsInCurrentPattern(pattern), 'material-icons-outlined': !checkIfPatternIsInCurrentPattern(pattern)}" (click)="selectBaseBusinessPattern(pattern)">grade</mat-icon>
                    <mat-icon class="nav-icon" (click)="addPatternToCurrentPattern(pattern)">add_circle_outline</mat-icon>
                </div>
            </div>
        </div>




    </div>
</div>
