.canvas-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 1em; */
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-auto-rows: 1fr; */
    background-color: blue;
}

/*  GO Two Colum BELOW 480 PIXELS */
/* @media only screen and (max-width: 1000px) {

} */

@media only screen and (max-width: 1279px) {
    /* For desktop: */
    .canvas-container {
        grid-template-columns: repeat(2, 1fr);
      }
}

@media only screen and (max-width: 960px) {
    /* For mobile: */
    .canvas-container {
        grid-template-columns: repeat(1, 1fr);
      }
}